{% extends 'shell/base.html' %}
{% load static i18n tpl_button tpl_trail_preview %}

{% block title %}
    {% trans 'Unnamed trail' as trail_noname %}
    {% blocktrans trimmed with trail_name=trail.name|default:trail_noname %}
        Delete {{ trail_name }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <div class="o-flex-inline has-gutter">
                <div class="cell-2of3">
                    {% trans 'Unnamed trail' as trail_noname %}
                    <h1>{% blocktrans trimmed with trail_name=trail.name|default:trail_noname %}
                        Delete {{ trail_name }}
                    {% endblocktrans %}</h1>
                    <p>{% blocktrans trimmed with trail_name=trail.name|default:trail_noname %}
                        Are you sure you want to delete "{{ trail_name }}"?
                    {% endblocktrans %}</p>
                    <form method="post" class="django__form">
                        {% csrf_token %}
                        <div class="o-flex-inline has-horizontal-gutter">
                            <div>
                                {% trans 'Yes, I am sure!' as button_label %}
                                {% tpl_button button_label class='is-danger' %}
                            </div>
                            <div>
                                {% trans 'Cancel' as button_label %}
                                {% url 'trail__main' object.id as button_link %}
                                {% tpl_button button_label button_link class='is-secondary' %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="cell-1of3">
                    <h2>{% trans 'Map' %}</h2>
                    {% tpl_trail_preview object %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
